/* Background Grid Lines */
.bg-grid {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 120px 100px; /* Adjust size for grid spacing */
}
/* App.css */

/* Gradient text color */
.custom-gradient-text {
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* color: transparent; */
}

/* Underline styling */
.custom-underline {
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.blurpinkEffect {
  background: radial-gradient(closest-side, rgba(254, 2, 94, 1), transparent);

  width: 150px;
  height: 150px;
  filter: blur(10px);
}

.bg-Clientgrid {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 150px 150px; /* Adjust size for grid spacing */
}
